.text {
    color: #1d1d4e;
    font-size: 40px;
    margin: 30px;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
   
}
.navigationText {
    font-size: 50px;
    text-decoration: none;
    white-space: pre;
}